.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%; /* Margem à esquerda */
    width: 100%;
    color: white;
    text-align: left;
  }
  
  .welcome-text {
    max-width: 50%;
  }
  
  .welcome-image-container {
    max-width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .welcome-image {
    width: 100%;
    max-height: 100%;
    object-fit: contain; /* Centraliza a imagem e corta o excesso */
  }