.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%; /* Margem à esquerda */
    width: 100%;
    color: white;
    text-align: left;
  }
  
  .welcome-text {
    max-width: 50%;
  }
  
  .welcome-image-container {
    max-width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .welcome-image {
    width: 100%;
    max-height: 100%;
    object-fit: contain; /* Centraliza a imagem e corta o excesso */
  }

  .button-container {
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0D5EF4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  .button.button-white {
    background-color: white;
    color: #0D5EF4;
  }
  
  .button:hover {
    background-color: #094aa8;
  }
  
  .button.button-white:hover {
    background-color: #f0f0f0;
  }