.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    margin: 0;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navbar-right a.selected {
    font-weight: bold;
  }